body{
    /* background: blue; */
    background-image: url('../images/Margen.png');  /*los dos puntos es para devolvernos la carpeta, es decir, seleccion de la imagen background.png de la carpeta images, desde la carpeta CSS donde estamos programando invie.css por eso nos devolvemos con .. para tomar la ruta*/
    background-size: cover; /*para que la imagen haga la mejor distribucion en el tamaño disponible*/ 
    margin: auto;
    margin-top: 65px;
    width: 1100px;
}

.logo img {
    width: 116px;
    height: 82px;
}

.header {
    margin: auto;
    width: 900px;
    position: relative;  /*le damos esta posicion para que la posicion absoluta del menu se ubique con esta referencia ya que header es el padre de menu*/
    display: flex;      /*aplica el flex al padre, para que lo tomen los hijos inmediatamente inferiores o siguientes*/
    justify-content: space-between;
} 

.logo {
    display: inline-block; 
    margin: 0;
}

.menu {
    /* border: 2px dotted red; */
    margin-top: 3px;
    font-size: 24px;
    display: inline-block;  /*para que el display tome el contenido que tiene el elemento*/
    position: absolute;  /*para ubicacion con respecto a la pos. del padre*/
    right: 0;
}

.menu li {       /*para modificar loS li del menu*/
    display: inline-block;
    margin-left: 30px;
}
  
.menu li:before {  /*invocar el Seudoelemento. Las viñetas del menu*/
                     /*.menu li:before; es a donde se va a aplicar y despues de los : es en donde va */
    content: '∘';    /* va el pseudoelemento dentro de las ''. Entidades html (assets) (caracteres asignados a cada teclado) https://dev.w3.org/html5/html-author/charref*/
    font-size: 30px;
    line-height: 20px;
    color: blue;
}
  
.menu a {  /*para el menu*/
    color: black;  /*color de la letra del menu*/
    text-decoration: none;  /*quitarle el decorado al texto del menu*/
}

.Sentence{
    text-align: center;
}

.frase {
    margin: 0;
    border: 3px solid blue;
    border-radius: 20px;
    padding: 5px 70px 5px 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}
  
.frase span {
    text-decoration: underline;
}

.subtitle{
    margin-left: 150px;
    color: orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.portafolio{
    /* border: 2px solid red; */
    overflow: hidden; /* oculta lo que esta fuera de la caja */
    padding: 1px;
}

.service{
    /* border: 2px dotted blue; */
    padding: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-details{
    text-align: justify;
    display: inline-block;
    width: 650px;
    /* border: 2px solid green; */
    padding: 1px;
}

.service-details h3 {
    font-size: 30px;
}

.service-details p {
    font-size: 25px;
}

.service-image{
    display: inline-block;
    margin: 0;
    /* border: 2px solid greenyellow; */
    padding: 1px;
}

.service-image img{
    width: 220px;
    height: 250px;
}

.button {
    margin: 10px 190px 0 0;
    border-radius: 12px;  /*Borde redondeado*/
    border: none;         /*none: para que no tenga borde*/
    color: white;         /*Color de la letra*/
    padding: 7px 12px;    /*Margen interior*/ 
    cursor: pointer;      /*para que el cursor se vuelva una mano cuando nos ponemos sobre el boton*/
    text-decoration: none;  /*quitarle el decorado al texto del boton*/
    font-size: 18px;      /*tamaño*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/*     background: #fd324e; */  /*Color del background*/
    /* background: linear-gradient(to left, #fe344e, #ff7250); */  /*linear-gradient[para el degradado](to left [desde la derecha hacia la izquiera, desde este color, hasta otro color])*/
    
    /* lo siguiente es el degradado pero copiado de www.colorzilla.comm/gradient-editor */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+50,ea2803+51,ff6600+75,c72200+100;Red+Gloss */
    /*background: rgb(243,197,189); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); */
  }

.volver{
    margin-bottom: 30px;
}