/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Allerta', sans-serif; */


html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Allerta', sans-serif;
    background-image: url('../images/Margen.png');  /*los dos puntos es para devolvernos la carpeta, es decir, seleccion de la imagen background.png de la carpeta images, desde la carpeta CSS donde estamos programando invie.css por eso nos devolvemos con .. para tomar la ruta*/
    background-size: cover; /*para que la imagen haga la mejor distribucion en el tamaño disponible*/ 
    margin: 0;
    padding: 0;
}

input{
    margin-bottom: 12px;
}

input:focus, textarea:focus {  /* pseudocodigo para ponerle fondo a los campos del formulario una vez se le haga focus */
    background: lightgrey;
}

label{
    margin-bottom: 4px;
}

.contenedor {   /*Toma el contenido lo centra y le da un ancho*/
    width: 1000px;
    margin: auto;
    position: relative;
}

.background {
    background-size: cover;
    background-image: url('../images/acountant.jpg');
}

.encabezafoot{
    width: 1000px;
}

.headercompleto{
    height: 400px;
}

.logo img {
    width: 116px;
    height: 82px;
}

.encabezado {
    margin: auto;
    padding: 6px 30px 0 30px;
    position: static;  /*le damos esta posicion para que la posicion absoluta del menu se ubique con esta referencia ya que header es el padre de menu*/
    display: flex;      /*aplica el flex al padre, para que lo tomen los hijos inmediatamente inferiores o siguientes*/
    justify-content: space-between;
} 

.logo {
    display: inline-block;
    margin: 0 0 15px 0;
}

.menu {
    font-size: 24px;
    display: inline-block;  /*para que el display tome el contenido que tiene el elemento*/
    /* position: absolute; */  /*para ubicacion con respecto a la pos. del padre*/
}

.menu ul {       /*para modificar loS li del menu*/
    display: inline-block;
}

.menu li {       /*para modificar los li del menu*/
    display: inline-block;
    margin-left: 30px;
    cursor: pointer; /* pone la mano como cursor */
}
  
.menu li:before {  /*Seudoelemento. Las viñetas del menu colocadas antes de los li del menu*/
                     /*.menu li:before; es a donde se va a aplicar y despues de los : es en donde va antes (before) o despues (after)*/
    content: '∘';    /* va el pseudoelemento dentro de las ''. Entidades html (assets) (caracteres asignados a cada teclado) https://dev.w3.org/html5/html-author/charref*/
    font-size: 30px;
    line-height: 20px;
    color: blue;
}
  
.menu a {  /*para el menu*/
    color: black;  /*color de la letra del menu*/
    text-decoration: none;  /*quitarle el decorado al texto del menu*/
}

.sentence{
    text-align: center;
    color: darkorange;
}

.frase {
    margin: 0 0 0 480px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.opacity {
    opacity: 0.9; /*vlrs de 0 - 1. 1 vr por defecto totalmente visible. 0 invisible*/
  }
  
.opacity:hover {  /*pseudoclase hover, para cambios de valores dentro de los elementos*/
    opacity: 1;
    color: orangered;
  }

.zoom:hover{
    transition: .5s;
    transform: translateX(-230px) translateY(50px) scale(1.5);
}
  
.subtitle{
    margin: 0 auto 20px;
    text-align: center;
    color: orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.quienes-somos{
    background-image: url('../images/somos.jpg');
    background-size: cover;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.somos-details{
    text-align: justify;
    display: block;
}

.portafolio{
    /* border: 2px solid red; */
    overflow: hidden; /* oculta lo que esta fuera de la caja */
    padding: 20px 0;
}

.somos-details p {
    padding: 25px;
    font-size: 30px;
    color: white;
    width: 800px;
}

.service{
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-details{
    text-align: justify;
    display: inline-block;
    width: 650px;
    padding: 1px;
}

.service-details h3 {
    font-size: 23px;
}

.service-details p {
    font-size: 25px;
}

.service-image img{
    width: 220px;
    height: 250px;
}

.footer {
    padding: 30px 0;
    margin: 0 34px 0 16px;
    background: #E17000;
    display: block;
    position: static;  /*le damos esta posicion para que la posicion absoluta del menu se ubique con esta referencia ya que header es el padre de menu*/
}

.contenedorfoot{
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    flex-wrap: wrap;
}

.contacto a{
    color: white;
    text-decoration: none;
    display: inline-block;
}

.contacto img {
    background: white;
    display: inline-block;
    margin-left: 120px;
}

.contacto strong {
    display: block;
}


.contactos{
    display: flex;
    justify-content: space-around;
}

.formulario{
    width: 562px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.formcol1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.formcol2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.formcol1 input{
    width: 250px;
}

.button {
    margin: 10px 190px 0 0;
    border-radius: 12px;  /*Borde redondeado*/
    border: none;         /*none: para que no tenga borde*/
    color: white;         /*Color de la letra*/
    padding: 7px 12px;    /*Margen interior*/ 
    cursor: pointer;      /*para que el cursor se vuelva una mano cuando nos ponemos sobre el boton*/
    text-decoration: none;  /*quitarle el decorado al texto del boton*/
    font-size: 18px;      /*tamaño*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/*     background: #fd324e; */  /*Color del background*/
    /* background: linear-gradient(to left, #fe344e, #ff7250); */  /*linear-gradient[para el degradado](to left [desde la derecha hacia la izquiera, desde este color, hasta otro color])*/
    
    /* lo siguiente es el degradado pero copiado de www.colorzilla.comm/gradient-editor */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+50,ea2803+51,ff6600+75,c72200+100;Red+Gloss */
    /*background: rgb(243,197,189); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); */
  }


  .clock{
      color: #E17000;
      display: flex;
      justify-content: center;
      font-size: 20px;
      margin: 10px auto;
  }
  

.clock #reloj{ 
    margin-left: 20px;
    display: inline;
  }

  .news{
    margin: 10px 0 20px 100px;
  }